.categoryDescription {
  text-align: left;
  letter-spacing: 0px;
  color: #000000;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 0;

  @media (max-width: 320.98px) {
    display: none;
  }

  @media (min-width: 320.98px) and (max-width: 575.98px) {
    display: none;
  }

  @media (min-width: 576px) and (max-width: 767.98px) {
    margin-block: 8px;
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    margin-block: 10px;
  }

  @media (min-width: 992px) and (max-width: 1199.98px) {
  }

  @media (min-width: 1200px) {
  }
}
