.form__control {
  margin-bottom: 28px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 320.98px) {
    margin-bottom: 12px;
  }

  @media (min-width: 320.98px) and (max-width: 365.98px) {
    margin-bottom: 12px;
  }

  @media (min-width: 365.98px) and (max-width: 410.98px) {
    margin-bottom: 12px;
  }

  @media (min-width: 410.98px) and (max-width: 575.98px) {
    margin-bottom: 12px;
  }
}

.form__label {
  opacity: 1;
  color: #000000;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0px;
  margin-bottom: 12px;

  @media (max-width: 320.98px) {
    font-size: 14px;
    margin-bottom: 7px;
  }

  @media (min-width: 320.98px) and (max-width: 365.98px) {
    font-size: 14px;
    margin-bottom: 7px;
  }

  @media (min-width: 365.98px) and (max-width: 410.98px) {
    font-size: 16px;
    margin-bottom: 7px;
  }

  @media (min-width: 410.98px) and (max-width: 575.98px) {
    font-size: 16px;
    margin-bottom: 8px;
  }
}

.form__input {
  opacity: 1;
  width: 420px;
  height: 48px;
  color: #9c9c9b;
  font-size: 15px;
  outline: none;
  font-weight: 500;
  letter-spacing: 0px;
  border-radius: 24px;
  padding: 14px 20px;
  border: 1px solid #ececec;
  background: #ffffff 0% 0% no-repeat padding-box;

  @media (max-width: 320.98px) {
    width: 100%;
    height: 32px;
    font-size: 12px;
  }

  @media (min-width: 320.98px) and (max-width: 365.98px) {
    width: 100%;
    height: 32px;
    font-size: 12px;
  }

  @media (min-width: 365.98px) and (max-width: 410.98px) {
    width: 100%;
    height: 36px;
    font-size: 14px;
  }

  @media (min-width: 410.98px) and (max-width: 575.98px) {
    width: 100%;
    height: 40px;
    font-size: 14px;
  }
}
