.tab {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-right: 0.5px solid #d9d9d9;
  padding-bottom: 11px;
  padding-top: 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 0;
  width: 193px;
  height: 100%;
  text-align: center;

  @media (max-width: 320.98px) {
    width: 117px;
    padding-top: 16px;
    padding-bottom: 14px;
  }

  @media (min-width: 321.98px) and (max-width: 575.98px) {
    width: 117px;
    padding-top: 16px;
    padding-bottom: 14px;
  }

  @media (min-width: 576px) and (max-width: 767.98px) {
    width: 187px;
    padding-top: 18px;
    padding-bottom: 16px;
    text-align: center;
  }
}

.active {
  border-bottom: 3px solid #542e90;
  cursor: pointer;

  @media (max-width: 320.98px) {
    label {
      color: #fff !important;
    }
    border: none;
    background: #542e90 0% 0% no-repeat padding-box;
  }

  @media (min-width: 321.98px) and (max-width: 575.98px) {
    label {
      color: #fff !important;
    }
    border: none;
    background: #542e90 0% 0% no-repeat padding-box;
  }

  @media (min-width: 576px) and (max-width: 767.98px) {
    label {
      color: #fff !important;
    }
    border: none;
    background: #542e90 0% 0% no-repeat padding-box;
  }
}

.tab__link {
  cursor: pointer;
  font-size: 18px;
  color: #000000;
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 0;

  @media (max-width: 320.98px) {
    font-size: 12px;
  }

  @media (min-width: 321.98px) and (max-width: 575.98px) {
    font-size: 12px;
  }

  @media (min-width: 576px) and (max-width: 767.98px) {
    font-size: 18px;
  }
}

.selectinput {
  display: none;
}
