.search_list {
}

.search_list_title {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -0.35px;
  color: #542e90;
  margin-bottom: 10px;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list_item {
  padding-block: 3px;
}

.item_link {
  font-size: 12px;
  font-weight: bold;
  color: #000000;
  letter-spacing: -0.3px;
  padding: 0;
  outline: none;
  border: none;
  background: transparent;
}
