.main {
  top: 132px;
  position: relative;
  margin-bottom: 180px !important;

  @media (max-width: 320.98px) {
    top: 90px;
    position: relative;
    margin-bottom: 110px !important;
  }

  @media (min-width: 320.98px) and (max-width: 575.98px) {
    top: 95px;
    position: relative;
    margin-bottom: 120px !important;
  }

  @media (min-width: 576px) and (max-width: 767.98px) {
    top: 106px;
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    top: 106px;
  }
}

.fade-slide-enter {
}

.fade-slide-enter-active {
  animation: showSearch 0.4s ease-out forwards;
}

.fade-slide-exit {
}

.fade-slide-exit-active {
  animation: hideSearch 0.4s ease-out forwards;
}

@keyframes showSearch {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  50% {
    opacity: 1;
    transform: translateY(90%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hideSearch {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0.8;
    transform: translateY(60%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
    width: 350px;
    height: 40px;
    padding-block: 7px;

    button {
      display: none;
    }
  }
}

.fade-in-enter {
}

.fade-in-enter-active {
  animation: upSearch 0.2s ease-out forwards;
}

.fade-in-exit {
}

.fade-in-exit-active {
  animation: downSearch 0.1s ease-out forwards;
}

@keyframes upSearch {
  0% {
    opacity: 0;
    transform: translateY(90%);
  }
  // 50% {
  //   opacity: 1;
  //   transform: translateY(90%);
  // }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downSearch {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: translateY(80%);
    // transform: translateY(100%);
  }
}
