.main {
	top: 132px;
	position: relative;
	padding-bottom: 150px !important;

	@media (max-width: 320.98px) {
		top: 90px;
		position: relative;
		padding-bottom: 110px !important;
	}

	@media (min-width: 320.98px) and (max-width: 575.98px) {
		top: 95px;
		position: relative;
		padding-bottom: 120px !important;
	}
}
