.rc-slider-handle {
  width: 16px;
  height: 16px;
  background: #575756 0% 0% no-repeat padding-box;
  border-radius: 8px;
}

.rc-slider-handle:active {
  border-color: transparent;
  box-shadow: none;
}
