.searchDropdown {
  margin-bottom: 10px;

  @media (max-width: 575.98px) {
  }

  @media (min-width: 576px) and (max-width: 767.98px) {
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
  }

  @media (min-width: 992px) and (max-width: 1199.98px) {
  }

  @media (min-width: 1200px) {
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #d9d9d9;

  @media (max-width: 575.98px) {
  }

  @media (min-width: 576px) and (max-width: 767.98px) {
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
  }

  @media (min-width: 992px) and (max-width: 1199.98px) {
  }

  @media (min-width: 1200px) {
  }
}

.title {
  color: #1d1d1b;
  font-size: 18px;
  font-weight: bold;
}

.button {
  width: 24px;
  height: 24px;
  padding: 0;
  outline: none;
  border: none;
  border-radius: 50%;
  background: #ececec 0% 0% no-repeat padding-box;
}

.items_list {
  margin-bottom: 10px;
  margin-left: 5px;
  padding: 0;
  list-style: none;
  transition: all 0.4s ease-in;
  overflow-y: auto;
  height: 194px;

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    width: 3px;
    border: 3px solid #ececec;
  }

  &::-webkit-scrollbar-thumb {
    width: 3px;
    border: 3px solid #575756;
  }
}

.search__input {
  height: 32px;
  width: 100%;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #d8d8d8;
  border-radius: 16px;
  opacity: 1;
  color: #b1b1b1;
  margin-block: 15px;
  font-size: 16px;
  padding: 15px 10px;
  outline: none;
}

.clear {
  padding: 0;
  font-size: 16px;
  font-weight: bold;
  color: #542e90;
  background: transparent;
  outline: none;
  border: none;
}
