.productReview {
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
}

.rating__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;

  @media (max-width: 320.98px) {
    width: auto;
    flex-direction: column;
    justify-content: center;
  }

  @media (min-width: 321.98px) and (max-width: 575.98px) {
    justify-content: center;
    flex-direction: column;
  }
}
