.counter {
  width: 252px;
  height: 48px;
  background: #f5f5f5 0% 0% no-repeat padding-box;
  border: 0.5px solid #d9d9d9;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 5px;

  span {
    display: block;
    color: #542e90;
    font-size: 16px;
    font-weight: bold;

    @media (max-width: 320.98px) {
      font-size: 12px;
    }

    @media (min-width: 321.98px) and (max-width: 575.98px) {
      font-size: 12px;
    }
  }

  @media (max-width: 320.98px) {
    margin-top: 7px;
    background: #f5f5f5 0% 0% no-repeat padding-box;
    border: 0.3687817454338074px solid #d9d9d9;
    border-radius: 16px;
    width: 136px;
    height: 32px;
    padding-inline: 4px;
  }

  @media (min-width: 321.98px) and (max-width: 575.98px) {
    margin-top: 7px;
    background: #f5f5f5 0% 0% no-repeat padding-box;
    border: 0.3687817454338074px solid #d9d9d9;
    border-radius: 20px;
    font-size: 12px;
    width: 144px;
    height: 40px;
    padding-inline: 4px;
  }
}

.btn {
  background: #fff200 0% 0% no-repeat padding-box;
  border: none;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 320.98px) {
    width: 24px;
    height: 24px;
  }

  @media (min-width: 321.98px) and (max-width: 575.98px) {
    width: 28px;
    height: 28px;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.actions {
  margin-top: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add_to_cart {
  background: #542e90 0% 0% no-repeat padding-box;
  border-radius: 27px;
  width: 252px;
  height: 54px;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  border: none;
  outline: none;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  @media (max-width: 320.98px) {
    background: #542e90 0% 0% no-repeat padding-box;
    border-radius: 16px;
    font-size: 9px;
    width: 136px;
    height: 32px;
    font-weight: bold;
  }

  @media (min-width: 321.98px) and (max-width: 575.98px) {
    background: #542e90 0% 0% no-repeat padding-box;
    border-radius: 18px;
    font-size: 12px;
    width: 144px;
    height: 40px;
    font-weight: bold;
  }
}

.pick__up {
  background: #fff200 0% 0% no-repeat padding-box;
  border-radius: 27px;
  width: 252px;
  height: 54px;
  color: #000;
  text-align: center;
  text-transform: capitalize;
  border: none;
  outline: none;
  margin-left: 1rem;

  @media (max-width: 320.98px) {
    background: #fff200 0% 0% no-repeat padding-box;
    border-radius: 16px;
    font-size: 9px;
    width: 136px;
    height: 32px;
    font-weight: bold;
  }

  @media (min-width: 321.98px) and (max-width: 575.98px) {
    background: #fff200 0% 0% no-repeat padding-box;
    border-radius: 18px;
    font-size: 12px;
    width: 144px;
    height: 40px;
    font-weight: bold;
  }
}
