.rate__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  width: 100%;

  @media (max-width: 320.98px) {
    width: 100%;
  }

  @media (min-width: 321.98px) and (max-width: 575.98px) {
    width: 100%;
  }

  @media (min-width: 576px) and (max-width: 767.98px) {
    width: 100%;
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    width: 100%;
  }
}

.star {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  span {
    color: #000000;
    font-size: 17px;
    font-weight: bold;
    display: block;
    margin-left: 8px;
  }
}

.bar {
  width: 100%;
  margin-inline: 32px;

  @media (max-width: 320.98px) {
    margin-inline: 12px;
  }

  @media (min-width: 321.98px) and (max-width: 575.98px) {
    margin-inline: 12px;
  }

  @media (min-width: 576px) and (max-width: 767.98px) {
    margin-inline: 14px;
  }
}

.rates {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  width: 100%;

  span {
    color: #575756;
    font-size: 14px;
    font-weight: bold;
    display: block;
  }

  @media (max-width: 320.98px) {
    width: 59px;
  }

  @media (min-width: 321.98px) and (max-width: 575.98px) {
    width: 85px;
  }

  @media (min-width: 576px) and (max-width: 767.98px) {
    width: 90px;
  }
}

.rates span:first-child {
  margin-right: 6px;
}
