.color__item {
  padding: 0;
  width: 80px;
  height: 80px;
  border: none;
  outline: none;
  display: flex;
  margin-right: 16px;
  align-items: center;
  border-radius: 40px;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  background: #ffffff 0% 0% no-repeat padding-box;

  &:hover {
    border: 1px solid #542e90;
  }

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: 320.98px) {
    width: 64px;
    height: 64px;
    margin-right: 8px;
    border-radius: 32px;
  }

  @media (min-width: 320.98px) and (max-width: 575.98px) {
    width: 64px;
    height: 64px;
    margin-right: 8px;
    border-radius: 32px;
  }
}

.active {
  border: 1px solid #542e90;
}
