.similarProducts {
  margin-top: 0;
}

.scroll {
  position: relative;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  @media (max-width: 575.98px) {
    border-radius: 0;
  }
}

.slide__button {
  height: 440px;

  @media (min-width: 992px) and (max-width: 1199.98px) {
    height: 400px;
  }

  @media (min-width: 576px) and (max-width: 767.98px) {
    height: 400px;
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    height: 348px;
  }

  @media (min-width: 992px) and (max-width: 1199.98px) {
    height: 370px;
  }
}
