.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;

  @media (max-width: 320.98px) {
    flex-direction: column;

    p {
      height: 20px;
      font-size: 12px;
    }
  }

  @media (min-width: 320.98px) and (max-width: 575.98px) {
    flex-direction: column;

    p {
      height: 20px;
      font-size: 12px;
    }
  }

  @media (min-width: 576px) and (max-width: 767.98px) {
    flex-direction: column;
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    flex-direction: column;
  }
}

.powered__by {
  width: 98px;
  font-size: 14px;
  font-weight: bold;
  margin-right: 4px;

  @media (max-width: 320.98px) {
    width: 90px;
    font-size: 12px;
    letter-spacing: -0.28px;
  }

  @media (min-width: 320.98px) and (max-width: 575.98px) {
    font-size: 14px;
  }
}

.nasnav__icon {
  width: 100px;
  height: 19px;

  @media (max-width: 320.98px) {
    width: 70px;
    height: 13px;
  }

  @media (min-width: 320.98px) and (max-width: 575.98px) {
    width: 85px;
    height: 18px;
  }

  @media (min-width: 576px) and (max-width: 767.98px) {
    flex-direction: column;
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    flex-direction: column;
  }
}

.payments__methods {
  img {
    &:nth-of-type(2) {
      margin-inline: 10px;
    }
  }

  @media (max-width: 320.98px) {
    margin-top: 10px;
    margin-bottom: 16px;
    padding-bottom: 1.6rem;
    border-bottom: 0.5px solid #ccc;
  }

  @media (min-width: 320.98px) and (max-width: 575.98px) {
    margin-top: 10px;
    margin-bottom: 16px;
    padding-bottom: 1.6rem;
    border-bottom: 0.5px solid #ccc;
  }

  @media (min-width: 576px) and (max-width: 767.98px) {
    margin-top: 10px;
    margin-bottom: 16px;
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    margin-top: 10px;
    margin-bottom: 16px;
  }
}
