.footer {
  background: #3c3c3b 0% 0% no-repeat padding-box;
  padding-block: 45px 30px;
  color: #fff;

  h3 {
    font-size: 18px;
    font-weight: bold;
  }

  ul {
    margin-top: 25px;
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        color: #fff;
        font-size: 16px;
        text-transform: capitalize;
      }
    }
  }
}

@media (max-width: 320.98px) {
  .footer {
    .subscribe {
      border-top: 0.5px solid #ccc;
      border-bottom: 0.5px solid #ccc;
      padding-top: 32px;
      padding-bottom: 16px;
    }

    h3 {
      font-size: 12px;
      font-weight: bold;
      text-align: center;
    }

    p {
      font-size: 10px;
    }

    ul {
      margin-top: 25px;
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 16px;

        &:last-child {
          margin-bottom: 0;
        }

        a {
          color: #fff;
          font-size: 12px;
          text-transform: capitalize;
        }
      }
    }
  }
}

@media (min-width: 320.98px) and (max-width: 575.98px) {
  .footer {
    .subscribe {
      border-top: 0.5px solid #ccc;
      border-bottom: 0.5px solid #ccc;
      padding-block: 2rem;
    }

    p {
      font-size: 14px;
    }

    h3 {
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 12px;
    }

    ul {
      margin-top: 25px;
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 16px;

        &:last-child {
          margin-bottom: 0;
        }

        a {
          color: #fff;
          font-size: 14px;
          text-transform: capitalize;
        }
      }
    }
  }
}
