.slide__button {
  height: 140px;
  margin-top: 5px;

  @media (max-width: 320.98px) {
    height: 64px;
    display: block;
    background: transparent;

    svg {
      fill: #000 !important;
    }
  }

  @media (min-width: 320.98px) and (max-width: 575.98px) {
    height: 64px;
    display: block;
    background: transparent;

    svg {
      fill: #000 !important;
    }
  }
}

.brands__list {
  overflow-x: auto;
  display: grid;
  grid-gap: 32px;
  padding-bottom: 32px;
  border-radius: 20px;
  padding-top: 5px;

  &::-webkit-scrollbar {
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    height: 3px;
    border: 3px solid #d9d9d9;
  }

  &::-webkit-scrollbar-thumb {
    height: 5px;
    border: 5px solid #542e90;
  }

  @media (max-width: 320.98px) {
    width: 225px;
    margin: auto;
    grid-gap: 14px;
    border-radius: 0;
    padding-bottom: 16px;

    &::-webkit-scrollbar {
      height: 0;
    }
  }

  @media (min-width: 320.98px) and (max-width: 575.98px) {
    width: 235px;
    margin: auto;
    grid-gap: 14px;
    border-radius: 0;
    padding-bottom: 16px;

    &::-webkit-scrollbar {
      height: 0;
    }
  }
}
