.middle__navbar {
  height: 84px;
  box-shadow: 0px 0.92px 3px #00000080;
  background: #ffffff 0% 0% no-repeat padding-box;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
  position: fixed;
  top: 48px;
  width: 100%;
  z-index: 88;

  @media (max-width: 575.98px) {
    height: 48px;
  }

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) and (max-width: 767.98px) {
    height: 58px;
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) and (max-width: 991.98px) {
    height: 58px;
  }

  @media (min-width: 576px) {
    z-index: 5 !important;
  }
}

.active {
  @media (min-width: 991.98px) {
    height: 54px;
    width: 100%;
    top: 48px;
  }
}

.spacer {
  display: none;

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) and (max-width: 767.98px) {
    display: block;
    flex: 1;
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) and (max-width: 991.98px) {
    display: block;
    flex: 1;
  }

  @media (max-width: 575.98px) {
    display: block;
    flex: 1;
  }
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 575.98px) {
    padding-block: 5px;
  }
}
