.middle__navbar {
	height: 84px;
	box-shadow: 0px 0.92px 3px #00000080;
	background: #ffffff 0% 0% no-repeat padding-box;
	display: flex;
	align-items: center;
	justify-content: center;
}

.inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
