.pickup {
  color: #1d1d1b;
  font-size: 10px;

  @media (max-width: 320.98px) {
    font-size: 6.2px;
  }

  @media (max-width: 575.98px) {
    font-size: 6.2px;
  }
}

.pickup__value {
  color: #1d1d1b;
  font-size: 12px;
  font-weight: bold;

  @media (max-width: 320.98px) {
    font-size: 6.2px;
  }

  @media (max-width: 575.98px) {
    font-size: 6.2px;
  }
}
