.sideBar {
  width: 475px;
  height: 100vh;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 2px 2px 4px #00000040;
  opacity: 1;
  padding: 32px;
  position: fixed;
  overflow: auto;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  transition: all 0.4s ease-in;
  transform: translate(0, 0);

  &.open {
    transform: translateX(0);
  }

  &.close {
    transform: translateX(-100%);
  }

  .close {
    cursor: pointer;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    width: 6px;
    border: 6px solid #d9d9d9;
  }

  &::-webkit-scrollbar-thumb {
    width: 6px;
    border: 6px solid #000;
    border-radius: 15px;
  }

  @media (max-width: 320.98px) {
    top: 99px;
    width: 100%;
    padding: 20px 15px;
  }

  @media (min-width: 320.98px) and (max-width: 575.98px) {
    top: 99px;
    width: 100%;
    padding: 20px 15px;
  }
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 48px;

  button {
    border: none;
    outline: none;
    background: transparent;
    padding-right: 0;

    @media (max-width: 320.98px) {
      position: absolute;
      right: 16px;
    }

    @media (min-width: 320.98px) and (max-width: 575.98px) {
      position: absolute;
      right: 16px;
    }
  }

  @media (max-width: 320.98px) {
    margin-bottom: 16px;
  }

  @media (min-width: 320.98px) and (max-width: 575.98px) {
    margin-bottom: 16px;
  }
}

.title {
  letter-spacing: 0px;
  color: #542e90;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 5px;
  width: 100%;
  text-align: center;

  @media (min-width: 575.98px) {
    display: none;
  }
}

.yeshtery {
  width: 199px;
  height: 51px;

  @media (max-width: 320.98px) {
    display: none;
  }

  @media (min-width: 320.98px) and (max-width: 575.98px) {
    display: none;
  }
}
