.breadcrumb {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 28px;
  padding-bottom: 15px;
  border-bottom: 0.5px solid #575756;

  @media (max-width: 575.98px) {
    padding-top: 14px;
    padding-bottom: 16px;
  }
}

.breadcrumb__list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;

  @media (max-width: 575.98px) {
    align-items: center;
    justify-content: space-between;
  }
}

.breadcrumb__item {
  position: relative;
  margin-right: 10px;

  @media (max-width: 321.98px) {
    margin-right: 5px;
  }
}

.breadcrumb__item::after {
  content: "/";
  position: absolute;
  transform: translateX(50%);

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) and (max-width: 767.98px) {
    transform: translateX(50%);
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) and (max-width: 991.98px) {
    transform: translateX(50%);
  }

  @media (max-width: 410.98px) {
    right: -30%;
    font-size: 11px;
    transform: translate(50%, 40%);
  }

  @media (min-width: 410) and (max-width: 575.98px) {
    right: -50%;
    font-size: 11px;
    transform: translate(50%, 40%);
  }

  @media (max-width: 321.98px) {
    right: -10%;
    font-size: 10px;
    transform: translate(50%, 40%);
  }
}

.breadcrumb__item:first-child::after {
  @media (max-width: 410.98px) {
    right: -40%;
    font-size: 11px;
    transform: translate(50%, 40%);
  }

  @media (min-width: 410) and (max-width: 575.98px) {
    right: -75%;
    font-size: 11px;
    transform: translate(50%, 40%);
  }

  @media (max-width: 321.98px) {
    right: -18%;
    font-size: 10px;
    transform: translate(50%, 40%);
  }
}

.breadcrumb__item:nth-of-type(2):after {
  @media (max-width: 410.98px) {
    right: -25%;
    font-size: 11px;
    transform: translate(50%, 40%);
  }

  @media (min-width: 410) and (max-width: 575.98px) {
    right: -45%;
    font-size: 11px;
    transform: translate(50%, 40%);
  }

  @media (min-width: 410) and (max-width: 321.98px) {
    right: -9%;
    font-size: 10px;
    transform: translate(50%, 40%);
  }
}

.breadcrumb__item:nth-of-type(3):after {
  @media (max-width: 410.98px) {
    right: -45%;
    font-size: 11px;
    transform: translate(50%, 40%);
  }

  @media (min-width: 410) and (max-width: 575.98px) {
    right: -75%;
    font-size: 11px;
    transform: translate(50%, 40%);
  }

  @media (max-width: 321.98px) {
    right: -16%;
    font-size: 10px;
    transform: translate(50%, 40%);
  }
}

.breadcrumb__item:last-child::after {
  content: "";
}

.breadcrumb__link {
  letter-spacing: 0px;
  color: #1d1d1b;
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;

  &:hover {
    color: #1d1d1b;
    text-decoration: underline;
  }

  // Small devices (landscape phones, 576px and up)
  @media (max-width: 575.98px) {
    font-size: 11px;
  }

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) and (max-width: 767.98px) {
    font-size: 14px;
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) and (max-width: 991.98px) {
    font-size: 14px;
  }
}
