.breadcrumb {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 28px;
  padding-bottom: 15px;
  border-bottom: 0.5px solid #575756;

  @media (max-width: 575.98px) {
    padding-top: 14px;
    padding-bottom: 16px;
  }
}

.breadcrumb__list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;

  @media (max-width: 575.98px) {
    align-items: center;
    justify-content: flex-start;
  }
}

.breadcrumb__slash {
  display: block;
  margin-inline: 10px;
  position: relative;
  bottom: -1px;

  &:last-child {
    display: none;
  }

  @media (max-width: 575.98px) {
    font-size: 12px;
    margin-inline: 9px;
    bottom: -3.5px;
  }

  @media (max-width: 321.98px) {
    font-size: 10;
    margin-inline: 2px;
    bottom: -3.5px;
  }

  @media (max-width: 370.98px) {
    font-size: 10;
    margin-inline: 2px;
    bottom: -3.5px;
  }
}

.breadcrumb__link {
  letter-spacing: 0px;
  color: #1d1d1b;
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;

  &:hover {
    color: #1d1d1b;
    text-decoration: underline;
  }

  // Small devices (landscape phones, 576px and up)
  @media (max-width: 575.98px) {
    font-size: 11px;
  }

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) and (max-width: 767.98px) {
    font-size: 14px;
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) and (max-width: 991.98px) {
    font-size: 14px;
  }
}
