.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search__icon {
  display: none;

  @media (max-width: 575.98px) {
    display: block;
  }
}

.user__icon {
  display: block;

  @media (max-width: 575.98px) {
    display: none;
  }
}
