.dropdown {
  padding-block: 0px;
}

.header {
  display: flex;
  align-items: center;
  padding-block: 14px;
  justify-content: space-between;
  border-top: 0.5px solid #d9d9d9;

  @media (max-width: 320.98px) {
    padding-block: 11px;
  }

  @media (min-width: 320.98px) and (max-width: 575.98px) {
    padding-block: 12px;
  }
}

.title {
  display: block;
  font-size: 18px;
  color: #000000;
  font-weight: bold;
  letter-spacing: 0px;

  @media (max-width: 320.98px) {
    font-size: 14px;
  }

  @media (min-width: 320.98px) and (max-width: 575.98px) {
    font-size: 14px;
  }
}

.button {
  width: 24px;
  height: 24px;
  opacity: 1;
  outline: none;
  border: none;
  border-radius: 50%;
  background: #ececec 0% 0% no-repeat padding-box;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 9px;
    height: 6px;
    margin: auto;
  }

  @media (max-width: 320.98px) {
    padding: 0;
  }

  @media (min-width: 320.98px) and (max-width: 575.98px) {
    padding: 0;
  }
}

.items_list {
  margin: 0;
  padding: 0;
  list-style: none;
  transition: height 0.4s ease-in;
}
