.banner {
  height: 798px;
  position: relative;
  background-size: cover;
  background-clip: padding-box;
  background-repeat: no-repeat;
  background-position: center center;

  @media (max-width: 320.98px) {
    height: 275px;
  }

  @media (min-width: 320.98px) and (max-width: 575.98px) {
    height: 275px;
  }
}
