.banner {
	background: transparent url("../../images/banner@2x.png") 0% 0% no-repeat
		padding-box;
	background-position: center center;
	background-size: cover;
	height: 798px;
	position: relative;

	@media (max-width: 320.98px) {
		height: 275px;
		background-image: url("../../images/banner.png");
	}

	@media (min-width: 320.98px) and (max-width: 575.98px) {
		height: 275px;
		background-image: url("../../images/banner.png");
	}
}
