.reviews {
  overflow: auto;
  padding: 32px 20px;
  height: 340px;

  &::-webkit-scrollbar {
    width: 3px;
    height: 166px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border: 3px solid #575756;
  }
}
