.CartItem {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 0.75px solid #ececec;
  border-radius: 20px;
  display: grid;
  //   align-items: center;
  //   justify-content: center;
  padding: 8px;
  margin-bottom: 14px;
  grid-column-gap: 16px;
  grid-template-columns: repeat(2, auto);

  @media (max-width: 320.98px) {
    // height: 74px;
    border-radius: 15px;
    padding: 8px 16px 8px 8px;
  }

  @media (min-width: 320.98px) and (max-width: 575.98px) {
    height: 88px;
    border-radius: 15px;
    padding: 8px 16px 8px 8px;
  }
}

.imageContainer {
  width: 104px;
  height: 104px;
  overflow: hidden;
  margin-right: 14px;
  border-radius: 20px;

  img {
    width: 100%;
  }

  @media (max-width: 320.98px) {
    width: 58px;
    height: 58px;
    border-radius: 15px;
    margin-right: 0;
  }

  @media (min-width: 320.98px) and (max-width: 575.98px) {
    width: 69px;
    height: 69px;
    border-radius: 15px;
    overflow: hidden;
    margin-right: 0;
  }
}

.description {
  width: 100%;
  font-size: 14px;
  color: #1d1d1b;
  font-weight: bold;
  margin-bottom: 6px;

  @media (max-width: 320.98px) {
    font-size: 10px;
    margin-bottom: 0px;
  }

  @media (min-width: 320.98px) and (max-width: 575.98px) {
    font-size: 12px;
    margin-bottom: 0px;
  }
}

.info__container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}

.quantity {
  color: #3c3c3b;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;

  @media (max-width: 320.98px) {
    font-size: 9px;
    margin-bottom: 0;
  }

  @media (min-width: 320.98px) and (max-width: 575.98px) {
    font-size: 11px;
    margin-bottom: 0;
  }
}

.price {
  color: #542e90;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;

  @media (max-width: 320.98px) {
    font-size: 12px;
  }

  @media (min-width: 320.98px) and (max-width: 575.98px) {
    font-size: 12px;
  }
}

.remove {
  background: #fff200 0% 0% no-repeat padding-box;
  border-radius: 12px;
  border: none;
  outline: none;
  color: #3c3c3b;
  font-size: 10px;
  font-weight: bold;
  padding: 5px 18px;

  @media (max-width: 320.98px) {
    width: 80px;
    height: 24px;
    font-size: 10px;
    padding: 5px 18px;
  }

  @media (min-width: 320.98px) and (max-width: 575.98px) {
    width: 80px;
    height: 24px;
    font-size: 10px;
    padding: 5px 18px;
  }
}
