.video {
  object-fit: cover;
  border-radius: 20px;

  @media (max-width: 320.98px) {
    width: 295px;
    height: 168px;
    border-radius: 15px;
  }

  @media (min-width: 320.98px) and (max-width: 374.98px) {
    width: 295px;
    height: 168px;
    border-radius: 15px;
  }

  @media (min-width: 374.98px) and (max-width: 575.98px) {
    width: 338px;
    height: 191px;
    border-radius: 15px;
  }

  @media (min-width: 576px) and (max-width: 767.98px) {
    width: 558px;
    height: 313px;
    border-radius: 20px;
  }
}
