.video {
  border-radius: 20px;

  @media (max-width: 320.98px) {
    width: 295px;
    height: 168px;
    border-radius: 15px;
  }

  @media (min-width: 320.98px) and (max-width: 575.98px) {
    width: 295px;
    height: 168px;
    border-radius: 15px;
  }
}
