.upper__navbar {
  background: #fff100 0% 0% no-repeat padding-box;
  box-shadow: 0px 0.73px 2px #00000080;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 88;
  width: 100%;

  @media (min-width: 576px) {
    z-index: 5 !important;
  }
}

.inner {
  display: flex;
  align-items: center;

  @media (max-width: 575.98px) {
    justify-content: center;
  }

  .menu {
    cursor: pointer;
    margin-right: 30px;

    @media (max-width: 575.98px) {
      display: none;
    }
  }
}
