.rate {
  text-align: center;
  letter-spacing: 3px;
  color: #000000;
  font-size: 60px;
  font-weight: bold;
  padding-inline: 32px;
  padding-top: 33px;
  padding-bottom: 10px;
  margin-inline: 8px;
}

.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}

.rateOf {
  color: #000000;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 12px;
}

.rates {
  letter-spacing: 0.75px;
  color: #575756;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 50px;
}
