.react__select-container,
.select__location-container,
.select__products-container {
  width: 100% !important;
  height: 100% !important;
  background: transparent !important;

  @media (max-width: 575px) {
    height: 32px !important;
  }
}

.react__select__control,
.select__location__control,
.select__products__control {
  width: 100% !important;
  height: 100% !important;
  border: none !important;
  outline: none !important;
  background: transparent !important;

  @media (max-width: 575px) {
    height: 32px !important;
  }
}

.react__select__control--is-focused,
.select__location__control--is-focused,
.select__products__control--is-focused {
  box-shadow: none !important;
}

.react__select__placeholder,
.select__location__placeholder,
.select__products__placeholder {
  color: #542e90 !important;
}

.react__select__value-container,
.select__location__value-container,
.select__products__value-container {
  background: transparent !important;
  cursor: pointer !important;
  border: none !important;
  outline: none !important;
  width: 100% !important;
  height: 100% !important;

  @media (max-width: 575px) {
    height: 32px !important;
    margin-bottom: 10px !important;
  }
}

.react__select__indicators,
.select__location__indicators,
.select__products__indicators {
  display: none !important;
}

.react__select__menu {
  background: #f5f5f5;
  border-radius: 20px !important;
  overflow: hidden !important;
  display: block !important;
  padding: 0 !important;
  width: 180px !important;
  left: -18% !important;

  @media (max-width: 575px) {
    left: -6% !important;
    width: 140px !important;
  }
}

.select__location__menu,
.select__products__menu {
  background: #f5f5f5;
  border-radius: 20px !important;
  overflow: hidden !important;
  display: block !important;
  padding: 0 !important;
  width: 210px !important;
  left: -14% !important;

  @media (max-width: 575px) {
    left: -6% !important;
    width: 140px !important;
  }
}

.react__select__menu-list,
.select__location__menu-list,
.select__products__menu-list {
  background: #f5f5f5;
  padding: 0 !important;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    width: 4px;
    border: 4px solid #d9d9d9;
  }

  &::-webkit-scrollbar-thumb {
    width: 4px;
    border: 4px solid #542e90;
  }
}

// =================== For Home & Store Item =================== //

.select__box-container,
.store__dropdown-container {
  width: 100% !important;
  height: 100% !important;
  background: transparent !important;

  @media (max-width: 575px) {
    height: 32px !important;
  }
}

.select__box__control,
.store__dropdown__control {
  width: 100% !important;
  height: 100% !important;
  border: none !important;
  outline: none !important;
  background: transparent !important;

  @media (max-width: 575px) {
    height: 32px !important;
  }
}

.select__box__control--is-focused,
.store__dropdown__control--is-focused {
  box-shadow: none !important;
}

.select__box__placeholder,
.select__box__single-value,
.store__dropdown__single-value,
.store__dropdown__placeholder {
  color: #542e90 !important;
}

.select__box__value-container,
.store__dropdown__value-container {
  background: transparent !important;
  cursor: pointer !important;
  border: none !important;
  outline: none !important;
  width: 100% !important;
  height: 100% !important;
  color: #542e90 !important;

  @media (max-width: 575px) {
    height: 32px !important;
    margin-bottom: 10px !important;
  }
}

.select__box__indicators,
.store__dropdown__indicators {
  display: none !important;
}

.select__box__menu {
  background: #f5f5f5;
  padding: 0 !important;
  left: -15% !important;
  width: 180px !important;
  display: block !important;
  overflow: hidden !important;
  border-radius: 20px !important;

  @media (max-width: 575.98px) {
    width: 100px !important;
    left: -7% !important;
  }
}

.store__dropdown__menu {
  background: #f5f5f5;
  padding: 0 !important;
  left: -4% !important;
  width: 150px !important;
  display: block !important;
  overflow: hidden !important;
  border-radius: 20px !important;

  @media (max-width: 575.98px) {
    width: 120px !important;
    left: -6% !important;
  }
}

.select__box__menu-list,
.store__dropdown__menu-list {
  background: #f5f5f5;
  padding: 0 !important;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    width: 4px;
    border: 4px solid #d9d9d9;
  }

  &::-webkit-scrollbar-thumb {
    width: 4px;
    border: 4px solid #542e90;
  }
}

.select__box__option,
.store__dropdown__option {
  padding-inline: 0;
  padding-top: 13px;
  padding-bottom: 15px;
  cursor: pointer !important;
  border: 0.5px solid #d9d9d9;
}

// =================== For Cart Item =================== //
.cartItem__select-container {
  width: 100% !important;
  height: 100% !important;
  background: transparent !important;

  @media (max-width: 575px) {
    // height: 32px !important;
  }
}

.cartItem__select__control {
  width: 100% !important;
  height: 100% !important;
  border: none !important;
  outline: none !important;
  min-height: auto !important;
  background: transparent !important;

  @media (max-width: 575px) {
    // height: 32px !important;
  }
}

.cartItem__select__control--is-focused {
  box-shadow: none !important;
}

.cartItem__select__placeholder {
  color: #000 !important;
}

.cartItem__select__value-container {
  width: 100% !important;
  height: 100% !important;
  border: none !important;
  outline: none !important;
  cursor: pointer !important;
  background: transparent !important;

  @media (max-width: 575px) {
    height: 32px !important;
    margin-bottom: 10px !important;
  }
}

.cartItem__select__indicators {
  width: 100% !important;
  height: 100% !important;
  display: none !important;
}

.cartItem__select__menu {
  background: #f5f5f5;
  padding: 0 !important;
  left: 1% !important;
  width: 90px !important;
  display: block !important;
  overflow: hidden !important;
  border-radius: 12px !important;

  @media (max-width: 575px) {
    left: -0% !important;
    width: 90px !important;
  }
}

.cartItem__select__option {
  padding-block: 8px;
  text-transform: capitalize;
  cursor: pointer !important;
}

.cartItem__select__menu-list {
  background: #f5f5f5;
  padding: 0 !important;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    width: 4px;
    border: 4px solid #d9d9d9;
  }

  &::-webkit-scrollbar-thumb {
    width: 4px;
    border: 4px solid #542e90;
  }
}
