.subscribe {
  display: flex;
  border-radius: 32px;
  padding: 5px 5px 5px 14px;
  background: #ffffff 0% 0% no-repeat padding-box;

  @media (max-width: 320.98px) {
    width: 100%;
    height: 35px;
  }

  @media (min-width: 320.98px) and (max-width: 575.98px) {
    width: 100%;
    height: 45px;
  }
}

.input {
  flex: 1;
  border: none;
  outline: none;
  color: #542e90;
  font-size: 12px;
  font-weight: bold;

  &::placeholder {
    color: #542e90;
  }
}

.send {
  border: none;
  outline: none;
  display: flex;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  padding: 13px 20px;
  flex-direction: row;
  align-items: center;
  border-radius: 35px;
  justify-content: center;
  background: #fff200 0% 0% no-repeat padding-box;

  img {
    height: 100%;
  }

  @media (max-width: 320.98px) {
    padding: 3px 13px;
    height: 100%;
    font-size: 9px;
  }

  @media (min-width: 320.98px) and (max-width: 575.98px) {
    padding: 8px 13px;
    height: 100%;
    font-size: 12px;
  }
}
