.exploreButton {
  width: 140px;
  height: 48px;
  outline: none;
  border: none;
  font-size: 16px;
  margin-top: 14px;
  color: #542e90;
  font-weight: 600;
  text-align: center;
  border-radius: 24px;
  padding-inline: 38px;
  text-transform: capitalize;
  transition: all 0.4s ease-in-out;
  box-shadow: 0px 0px 2px #00000040;
  background: #ffffff 0% 0% no-repeat padding-box;

  &:hover {
    box-shadow: 0px 2px 4px #999;
  }

  @media (max-width: 320.98px) {
    width: 54px;
    height: 23px;
    border-radius: 10px;
    padding-inline: 14px;
    text-align: center;
    font-size: 7px;
    margin-top: 0;
  }

  @media (min-width: 320.98px) and (max-width: 575.98px) {
    width: 64px;
    height: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 1px;
    font-size: 9px;
    margin-top: 8px;
  }

  @media (min-width: 575.98px) and (max-width: 991.98px) {
    width: 120px;
    height: 38px;
    text-align: center;
    border-radius: 15px;
    padding-inline: 14px;
    font-size: 14px;
    margin-top: 0;
  }
}
